.friendlist {
    position: relative;
    top: 160px;
    left: -410px;
}

.magen {
margin: -12px;
}

img{
    border-radius: 30px; 
}


.text {
    position: relative;
    left: 110px;
    top: -55px;

}

.text1 {
    position: relative;
    top: 10px;
}

.Name {
    position: relative;
    left: -20px;
}

.button{

}

.orange-button {
    position: relative;
    left: 239px;
    top: -90px;
    background-color: orange; 
    color: #000000; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.orange-button:hover {
    background-color: darkorange; 
}

.orange-button1 {
    position: relative;
    left: 227px;
    top: -30px;
    background-color: orange; 
    color: #000000; 
    border: none; 
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.orange-button1:hover {
    background-color: darkorange; 
}